<%- include ("./partials/cabecera") %> 
<%- include ("./partials/navbar") %> 
<br><br>

<h1 style="text-align:center;color:blue;">Bienvenidos a la Biblioteca</h1>
<p style="text-align:center;color:blue;">aqui encontrará la mejor colección de libros de cualquier libreria del mundo mundial</p>

<%- include("./partials/carrusel")%>
<br><br><br><br>



<%- include("./partials/footer")%>
<%- include ("./partials/pie") %> 